h1 {
    font-size: 60px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding-top: 20px;
}

h3 {
    font-size: 40px;
    background-color: mediumpurple;
    color:white
}

p {
    font-size: 20px;
}


.recipelist {
    background-color: mediumpurple;
}

button {
    font-size: 30px;
    text-align: center;
    color: lavenderblush;
}

.imgs {
    text-align: center;
    padding-top: 10px;
}

.titles {
    text-align: center;
    background-color: lemonchiffon;
    padding: 50px 50px;
}